body {
  background-color: limegreen;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  margin-top: 50px;
}

.gamespace {
  display: flex;
  width: 150px;
  height: auto;
  border: solid black;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

.gamespace:nth-child(3n) {
  border-right: none;
}

.gamespace:nth-child(n + 7) {
  border-bottom: none;
  border-top: none;
}

.gamespace {
  border-left: none;
}

#gamespace-1,
#gamespace-2,
#gamespace-3 {
  border-top: none;
  border-bottom: none;
}
#message {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}
#buttons {
  display: flex;
  gap: 1rem;
}

button {
  border-radius: 1rem;
  border: none;
  height: 3rem;
  min-width: 4rem;
  background-color: rgb(63, 175, 228);
  color: white;
}
button:hover {
  transform: scale(1.1);
}
button:active {
  transform: scale(1.05);
}
